<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Text:</strong>
  <%= @customer.text %>
</p>

<p>
  <strong>BlackList:</strong>
  <%= @customer.black_list %>
</p>
